/*sobre fundo */
.vetor_fundo{
    width: 100%;
    position: absolute;
    opacity: 65%;
}
/*class usada para estilizar a palavra "marmitaria" */
.titulo {
    color: #F5F5F5;
    font-family: "Berlin Sans FB";
    font-size: 38px;
    letter-spacing: 2px;
    top: 135px;
    margin-left: 550px;
    font-weight: normal;
    position: absolute;
}
/*class usada para estilizar a linha decorativa" */
.linha-decorativa {
    width: 330px;
    height: 6px;
    margin: 200px 0px 0px 550px;
    background: linear-gradient(to right, #c26667, rgba(163, 134, 86, 0));
    border-radius: 10px;
}
/*class usada para a descrição da salada*/
.desc{
    font-size: x-large;
    color: white;
    margin-left: 290px;
    margin-top: 15px;
}

/*class usada para colocar título salada*/
.tit1{
    font-size: x-large;
    color: white;
    margin-left: -60px;
    margin-top: -230px;
}

/*class usada para a descrição da marmita  fitness*/
.desc2{
    font-size: x-large;
    color: white;
    margin-left: 290px;
    margin-top: 15px;
}

/*class usada para colocar o título fitness*/
.tit2{
    font-size: x-large;
    color: white;
    margin-left: -60px;
    margin-top: -230px;
}

/*class usada para a descrição tradicional*/
.desc3{
    font-size: x-large;
    color: white;
    margin-left: 280px;
    margin-top: 20px;  
}

/*class usada para colocar o título tradicional*/
.tit3{
    font-size: x-large;
    color: white;
    margin-left: -55px;
    margin-top: -244px;
}

/*class usada para a descrição gourmet*/
.desc4{
    font-size: x-large;
    color: white;
    margin-left: 280px;
    margin-top: 15px;  
}

/*class usada para colocar  o título gourmet*/
.tit4{
    font-size: x-large;
    color: white;
    margin-left: -55px;
    margin-top: -244px;
}

/*class usada para a descrição especial*/
.desc5{
    font-size: x-large;
    color: white;
    margin-left: 295px;
    margin-top: 35px;  
}

/*class usada para colocar o título especial*/
.tit5{
    font-size: x-large;
    color: white;
    margin-left: -60px;
    margin-top: -244px;
}

/*class usada para a descrição de bebidas*/
.desc6{
    font-size: x-large;
    color: white;
    margin-left: 263px;
    margin-top: -200px;  
}

/*class usada para colocar o título bebidas*/
.tit6{
    font-size: x-large;
    color: white;
    margin-left: -35px;
    margin-top: 20px;
}

/*class usadda para mexer na imagem da salada*/
.salada{
    width: 230px;
    height: auto;
    margin-left: 25px;
    opacity: 100%;
}

/*class usada para mexer na imagem da marmita fitness*/
.fitness{
    width: 230px;
    height: auto;
    opacity: 100%;
    margin-left: 25px;
}

/*class usada para mexer na imagem das bebidas */
.bebidas{
    width: 230px;
    height: auto;
    opacity: 100%;
    margin-left: 25px;
    margin-top: 43px;
}

/*class usada para mexer na imagem da  marmita gourmet*/
.gourmet{
    width: 230px;
    height: auto;
    opacity: 100%;
    margin-left: 25px;  
}

/*class usada para mexer na imagem da marmita tradicional */
.tradicional{
    width: 230px;
    height: auto;
    margin-left: 25px;
    opacity: 100%;
}

/*class usada para mexer na imagem da marmita especial*/
.special{
    width: 230px;
    height: auto;
    opacity: 100%;
    margin-left: 25px;
}
/*class usada para colocar cardápio salada */
.aside{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 50px;
    position: absolute;
    top: 240px;
}
/*class usada para colocar cardápio fitness*/
.aside2{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 100px;
    position: absolute;
    top: 240px;
}
/*class usada para colocar cardápio tradicional*/
.aside3{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 150px;
    position: absolute;
    top: 240px;
}

/*class usada para colocar cardápio gourmet */
.aside4{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 200px;
    position: absolute;
    top: 240px;
}

/*class usada para colocar  cardápio especial*/
.aside5{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 250px;
    position: absolute;
    top: 240px;
}
/*class usada para colocar as bebidas*/
.aside6{
    background-color: #5a1414;
    width: 310px;
    height: 230px;
    color: white;
    border-radius: 25px;
    margin-left: 300px;
    position: absolute;
    top: 240px;
}