/*class usada para mexer na imagem principal do home*/ 
.background {
    width: 45%;
    height: auto;
    opacity: 100%;
    margin: 45px 0px 0px 68px;
    border-radius: 20px;
    position: absolute;
    border-bottom-style: inset;
    border-right-style: inset;
    border-left-style: outset;
    border-top-style: outset;
    border-color: #C26667;
}
/*class usada para determinar tamanho do espaço na imagem*/
.section {
    background-color: #914a4a;
    width: 102%;
    height: 1356px;
    margin: 100px 0px 0px -8px;
    position: absolute;
}
/*class usada para adicionar cor,títulos e fonte*/
.aside {
    width: 40%;
    height: auto;
}
/*class usada para mexer na palavra "marmitaria" */
.container-marmitaria {
    padding: 40px;
    display: inline-block; /* Faz o container se ajustar ao tamanho do texto */
}
/*class usada para estilizar a palavra "marmitaria" */
.titulo {
    color: #F5F5F5;
    font-family: "Berlin Sans FB";
    font-size: 38px;
    letter-spacing: 2px;
    top: 15px;
    margin-left: 705px;
    font-weight: normal;
    position: absolute;
}
/*class usada para estilizar a linha decorativa" */
.linha-decorativa {
    height: 6px;
    width: 230px;
    margin: 45px 0px 0px 706px;
    background: linear-gradient(to right, #c26667, rgba(163, 134, 86, 0));
    border-radius: 10px;
}
/*class usada para mexer na primeira foto secundária*/
.descri_home{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: -57px 0px 0px 745px;

}
/*class usada para mexer na primeira foto secundária*/
.home1{
    width: 210px;
    height: auto;
    opacity: 100%;
    top: 60px;
    margin-left: 945px;
    position: relative;
}
/*class usada para mexer na segunda foto secundária*/
.home2{
    width: 210px;
    height: auto;
    opacity: 100%;
    top: 60px;
    margin: 0px 0px 0px 20px;
    position: relative;
}
/*class usada para mexer na terceira foto secundária*/
.home3{
    width: 210px;
    height: auto;
    opacity: 100%;
    top: 60px;
    margin: 0px 0px 0px 20px;
    position: relative;
}
.fitness{
    width: 50%;
    height: auto;
    position: absolute;
    margin: 325px 0px 0px -1235px;
    border-radius: 20px;
    border-bottom-style: inset;
    border-right-style: inset;
    border-left-style: outset;
    border-top-style: outset;
    border-color: #C26667;
}